/* Text colors */
.text-white{color: #ffffff;}
.text-black{color: #000000;}
.text-gray-500{color: #6b7280;}
.text-red-500{color: #ef4444;}
.text-green-500{color: #10b981;}
.text-blue-500{color: #3b82f6;}
.text-yellow-500{color: #f59e0b;}
.text-indigo-500{color: #6366f1;}
.text-purple-500{color: #8b5cf6;}
.text-pink-500{color: #ec4899;}