/* Text alignment */
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}

/* Font weights */
.font-thin{font-weight: 100;}
.font-light{font-weight: 300;}
.font-normal{font-weight: 400;}
.font-medium{font-weight: 500;}
.font-bold{font-weight: 700;}

/* Font size */
.text-xs{font-size: 0.75rem;}
.text-sm{font-size: 0.875rem;}
.text-base{font-size: 1rem;}
.text-lg{font-size: 1.125rem;}
.text-xl{font-size: 1.25rem;}